<header role="banner" class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <a class="navbar-brand" href="#">Lanyon</a>
    <div class="navbar-header"></div>
    <nav class="navbar-collapse collapse" role="navigation">
      <ul class="nav navbar-nav" >
        <li><a href="/">Home</a></li>
        <li><a href="/about/">About</a></li>
      </ul>
      <ul class="nav navbar-nav pull-right">
        <li>
          <a href="#">{{ username }}</a>
        </li>
      </ul>
    </nav>
  </div>
</header>
