<%-
  dir = object
  dirs = dir.content.select { |x| x.is_a?(Lanyon::Directory) }
  files = dir.content.select { |x| x.is_a?(Lanyon::File) }
-%>
<header>
  <a href="..">up</a>
</header>
<div id="content">
  <div id="files">
    <ul id="file-list">
    <%- dirs.each do |dir| -%>
      <li>
        <a href="/files/<%= dir.path %>">
          <span><%= dir.basename %></span>
        </a>
        <div>

        </div>
      </li>
    <%- end -%>
    <% files.each do |file| %>
      <li>
        File:
        <a href="/editor/<%= file.path %>"><%= file.basename %></a>
      </li>
    <% end %>
    </ul>
  </div>
</div>
<footer>
</footer>
