<%-
  dir = object
  content = dir.content.sort
-%>
<header>
  <a href="..">up</a>
</header>
<div id="content">
  <div id="files">
    <ul id="file-list" class="media-list">
    <%- content.each do |file_object| -%>
      <li class="media">
        <%-
          path =
            if file_object.directory?
              "/files/#{file_object.path}/"
            elsif file_object.file?
              "/editor/#{file_object.path}"
            end
        -%>
        <a class="file-icon pull-left" href="<%= path %>">
          <%- if file_object.directory? -%>
          <span class="glyphicon glyphicon-folder-open"></span>
          <%- elsif file_object.file? -%>
          <span class="glyphicon glyphicon-file"></spam>
          <%- end -%>
        </a>
        <div class="media-body">
          <h4 class="media-heading">
            <%= file_object.basename %>
          </h4>
        </div>
      </li>
    <%- end -%>
    </ul>
  </div>
</div>
<footer>
</footer>